body {
    font-family: 'Bungee Shade', cursive;
    margin-top: 300px;
    text-align: center;
    color: white;
    background: #000;
}

#clock {
    font-weight: 300;
    font-size: 120px;
}

a {
	color: #fff;
	direction: none;
	font-size: 100px;
}

@media screen and (max-width: 700px) {
	#clock {
	    font-weight: 300;
	    font-size: 60px;
	}
	a {
		font-size: 2.5em;
	}
}
